/node_modules
/public/hot
/public/storage
/public/image/kegiatan
/public/image/logo
/public/image/karang-taruna
/public/image/laporan-keuangan
/public/image/aset
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
data
/docker-compose.yaml