html{
    scroll-behavior: smooth;
}

#desc > p{
    line-height: 1.5em; 
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}